{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}Add True & False Type Question - Hajela's IAS Academy (HIA){% endblock %}

{% block content %}
    <!-- True & False Type Question Form Start -->
    <div class="container-xxl py-5">
        <div class="container">
            {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Add True & False Type Question</h6>
                <h1 class="mb-5">Fill in the details to add a new true & false type question</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.5s">
                    <form id="trueFalseTypeForm" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <!-- Question Type Selection -->
                        <div class="row g-3">
                            <div class="col-md-12">
                                <h5 class="text-primary mb-3">Choose Question Type</h5>
                                <div class="mb-3">
                                    <a href="{% url 'add-simple-type-question' %}" class="btn btn-outline-primary {% if request.resolver_match.url_name == 'add-simple-type-question' %}active{% endif %}">Simple Type</a>

                                    <a href="{% url 'add-r-and-a-type-question' %}" class="btn btn-outline-primary {% if request.resolver_match.url_name == 'add-r-and-a-type-question' %}active{% endif %}">R & A</a>

                                    <a href="{% url 'add-list-type-1-question' %}" class="btn btn-outline-primary {% if request.resolver_match.url_name == 'add-list-type-1-question' %}active{% endif %}">List-I</a>

                                    <a href="{% url 'add-list-type-2-question' %}" class="btn btn-outline-primary {% if request.resolver_match.url_name == 'add-list-type-2-question' %}active{% endif %}">List-II</a>
                                    
                                    <a href="{% url 'add-true-and-false-type-question' %}" class="btn btn-outline-primary {% if request.resolver_match.url_name == 'add-true-and-false-type-question' %}active{% endif %}">True & False</a>

                                    <a href="{% url 'add-fill-in-the-blank-question' %}" class="btn btn-outline-primary {% if request.resolver_match.url_name == 'add-fill-in-the-blank-question' %}active{% endif %}">Fill in the Blank</a>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="questionType" value="true_and_false_type">

                        <!-- Common Fields -->
                        <div class="row g-3">
                            <div class="col-md-12 mb-4">
                                <label for="question_part_first">Question Statement</label>
                                <div class="form-floating">
                                    <textarea class="form-control" name="question_part_first" id="question_part_first" placeholder="Question Part First" required></textarea>
                                </div>
                            </div>
                        </div>

                        <!-- Options for True/False -->
                        <div id="optionsSection" class="col-md-12">
                            <label class="form-label">Options</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="answer_option_a" value="True" readonly>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="answer_option_b" value="False" readonly>
                            </div>
                        </div>

                        <!-- Common Fields -->
                        <div class="row g-3">
                            <label class="form-label">Other Details</label>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-select" id="correctAnswer" name="correct_answer_choice" style="height:100px" required>
                                        <option value="">Select the correct answer</option>
                                        <option value="a">True</option>
                                        <option value="b">False</option>
                                    </select>
                                    <label for="correctAnswer">Correct Answer</label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-floating">
                                    <textarea class="form-control" id="answerDescription" name="correct_answer_description" placeholder="Answer Description" style="height:100px"> </textarea>
                                    <label for="answerDescription">Answer Description</label>
                                </div>
                            </div>

                            <!-- Dynamic Fields (Exam, Subject, Area, etc.) -->
                            <div class="col-md-6 mb-4">
                                <div class="form-floating">
                                    <select class="form-select" id="examName" name="exam_name" required>
                                        <option value="">Select Exam Name</option>
                                        {% for exam in exam_names %}
                                            <option value="{{ exam.id }}">{{ exam.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="examName">Exam Name</label>
                                </div>
                            </div>

                            <div class="col-md-6 mb-4">
                                <div class="form-floating">
                                    <select class="form-select" id="subjectName" name="subject_name" required>
                                        <option value="">Select Subject Name</option>
                                    </select>
                                    <label for="subjectName">Subject Name</label>
                                </div>
                            </div>

                            <div class="col-md-6 mb-4">
                                <div class="form-floating">
                                    <select class="form-select" id="areaName" name="area_name" required>
                                        <option value="">Select Area Name</option>
                                    </select>
                                    <label for="areaName">Area Name</label>
                                </div>
                            </div>

                            <div class="col-md-6 mb-4">
                                <div class="form-floating">
                                    <select class="form-select" id="partName" name="part_name">
                                        <option value="">Select Part Name</option>
                                    </select>
                                    <label for="partName">Part Name</label>
                                </div>
                            </div>

                            <!-- Dynamic Chapter Name -->
                            <div class="col-md-6 mb-4">
                                <div class="form-floating">
                                    <select class="form-select" id="chapterName" name="chapter_name">
                                        <option value="">Select Chapter Name</option>
                                    </select>
                                    <label for="chapterName">Chapter Name</label>
                                </div>
                            </div>

                            <div class="col-md-6 mb-4">
                                <div class="form-floating">
                                    <select class="form-select" id="topicName" name="topic_name">
                                        <option value="">Select Topic Name</option>
                                        <option value="other">Other (Add manually)</option>
                                    </select>
                                    <label for="topicName">Topic Name</label>
                                </div>
                            </div>

                            <div class="col-md-6 mb-4" id="manual_topic" style="display: none;">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="new_topic_name"  id="new_topic_name" placeholder="Enter new topic">
                                    <label for="new_topic_name">Add New Topic</label>
                                </div>
                            </div>


                            <!-- Year and Marks Fields -->
                                <!-- New/PYQs Dropdown -->
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select class="form-select" id="newOrPyq" name="new_or_pyq" required>
                                            <option value="">Select New or PYQs</option>
                                            <option value="new">New</option>
                                            <option value="pyq">PYQs</option>
                                        </select>
                                        <label for="newOrPyq">New or PYQs</label>
                                    </div>
                                </div>

                                <!-- Exam Year Field (Shown only if PYQs is selected) -->
                                <div class="col-md-6" id="examYearField" style="display:none;">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="year" name="exam_year" placeholder="Year">
                                        <label for="year">Year</label>
                                    </div>
                                </div>

                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-select" id="marks" name="marks" required>
                                        <option value="">Select Marks</option>
                                        <option value="0.5">0.5</option>
                                        <option value="1.0">1.0</option>
                                        <option value="1.5">1.5</option>
                                        <option value="2.0">2.0</option>
                                        <option value="2.5">2.5</option>
                                        <option value="3.0">3.0</option>
                                    </select>
                                    <label for="marks">Marks</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-select" id="negativeMarks" name="negative_marks" required>
                                        <option value="">Select Negative Marks</option>
                                        <option value="1.0">1.0</option>
                                        <option value="0.5">0.5</option>
                                        <option value="0.33">0.33</option>
                                        <option value="0.25">0.25</option>
                                        <option value="0.2">0.2</option>
                                        <option value="0">0</option>
                                    </select>
                                    <label for="negativeMarks">Negative Marks</label>
                                </div>
                            </div>

                            <div class="col-md-6 ">
                                <div class="form-floating">
                                    <select class="form-select" id="degreeOfDifficulty" name="degree_of_difficulty" required>
                                        <option value="">Select Degree of Difficulty</option>
                                        {% for i in 10|to_range %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="degreeOfDifficulty">Degree of Difficulty</label>
                                </div>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="col-12 mt-3">
                            <button class="btn btn-primary w-100 py-3" type="submit">Submit Question</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- R & A Type Question Form End -->
{% endblock content %}

{% block custom_js %}
<script>
    document.getElementById('topicName').addEventListener('change', function() {
        if (this.value === 'other') {
            document.getElementById('manual_topic').style.display = 'block';
        } else {
            document.getElementById('manual_topic').style.display = 'none';
        }
    });

    // Fetch subjects based on exam selection
    document.getElementById('examName').addEventListener('change', function() {
        let examId = this.value;
        fetch(`/question-bank/get-subjects/?exam_id=${examId}`)
            .then(response => response.json())
            .then(data => {
                let subjectSelect = document.getElementById('subjectName');
                subjectSelect.innerHTML = '<option value="">Select Subject Name</option>';
                data.subjects.forEach(subject => {
                    subjectSelect.innerHTML += `<option value="${subject.id}">${subject.name}</option>`;
                });
            });
    });

    // Fetch areas based on subject selection
    document.getElementById('subjectName').addEventListener('change', function() {
        let subjectId = this.value;
        fetch(`/question-bank/get-areas/?subject_id=${subjectId}`)
            .then(response => response.json())
            .then(data => {
                let areaSelect = document.getElementById('areaName');
                areaSelect.innerHTML = '<option value="">Select Area Name</option>';
                data.areas.forEach(area => {
                    areaSelect.innerHTML += `<option value="${area.id}">${area.name}</option>`;
                });
            });
    });

    // Fetch parts based on area selection
    document.getElementById('areaName').addEventListener('change', function() {
        let areaId = this.value;
        fetch(`/question-bank/get-parts/?area_id=${areaId}`)
            .then(response => response.json())
            .then(data => {
                let partSelect = document.getElementById('partName');
                partSelect.innerHTML = '<option value="">Select Part Name</option>';
                data.parts.forEach(part => {
                    partSelect.innerHTML += `<option value="${part.id}">${part.name}</option>`;
                });
            });
    });

    // Fetch chapters based on part selection
    document.getElementById('partName').addEventListener('change', function() {
        let partId = this.value;
        fetch(`/question-bank/get-chapters/?part_id=${partId}`)
            .then(response => response.json())
            .then(data => {
                let chapterSelect = document.getElementById('chapterName');
                chapterSelect.innerHTML = '<option value="">Select Chapter Name</option>';
                data.chapters.forEach(chapter => {
                    chapterSelect.innerHTML += `<option value="${chapter.id}">${chapter.name}</option>`;
                });
            });
    });

    // Fetch topics based on chapter selection
    document.getElementById('chapterName').addEventListener('change', function() {
        let chapterId = this.value;
        fetch(`/question-bank/get-topics/?chapter_id=${chapterId}`)
            .then(response => response.json())
            .then(data => {
                let topicSelect = document.getElementById('topicName');
                topicSelect.innerHTML = '<option value="">Select Topic Name</option>';
                data.topics.forEach(topic => {
                    topicSelect.innerHTML += `<option value="${topic.id}">${topic.name}</option>`;
                });
                topicSelect.innerHTML += '<option value="other">Other (Add manually)</option>';
            });
    });

    // Handle New/PYQs dropdown
    document.getElementById('newOrPyq').addEventListener('change', function() {
        var selectedValue = this.value;
        var examYearField = document.getElementById('examYearField');
        
        if (selectedValue === 'pyq') {
            examYearField.style.display = 'block'; // Show the field if PYQs is selected
        } else {
            examYearField.style.display = 'none'; // Hide the field if New is selected
            document.getElementById('year').value = ''; // Clear the exam year value
        }
    });
</script>
{% endblock custom_js %}